{{include file='..\Shared\layout_header.html'}}

<div class="container card mx-auto m-5">

    <nav class="navbar navbar-light navbar-right bg-light">
        <div class="float-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus"></i> ADD
            </button>
        </div>
    </nav>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Entry detail</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/user/add/post" method="post">
                        <input type="hidden" class="form-control" value="{{$user->id_user}}" name="id_user">
                        <div class="form-row">
                            <div class="form-group col-md-10">
                                <label>Description</label>
                                <input type="text" class="form-control" name="description">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label>Date</label>
                                <input class="form-control" type="date" name="date"/>
                            </div>
                            <div class="form-group col-md-5">
                                <label>Event</label>
                                <select name="id_event" class="form-control">
                                    <option selected>Choose...</option>
                                    {{foreach from=$events item=item}}
                                    <option value="{{$item->id}}">{{$item->name}}</option>
                                    {{/foreach}}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label>Start</label>
                                <input type="text" class="form-control" name="time_start">
                            </div>
                            <div class="form-group col-md-5">
                                <label>End</label>
                                <input type="text" class="form-control" name="time_finish">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-10">
                            <label>Project</label>
                            <select name="id_project" class="form-control">
                                <option selected>Choose...</option>
                                {{foreach from=$projects item=item}}
                                <option value="{{$item->id}}">{{$item->name}}</option>
                                {{/foreach}}
                            </select>
                            </div>
                        </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Add</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th scope="col"><i class="fa fa-calendar"></i> Date</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Event</th>
            <th scope="col">Description</th>
            <th scope="col">Project</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {{foreach from=$entries item=item}}
        <tr>
            <td>{{$item->date}}</td>
            <td>{{$item->time_start}}</td>
            <td>{{$item->time_finish}}</td>
            <td>{{$item->evname}}</td>
            <td>{{$item->description}}</td>
            <td>{{$item->pname}}</td>
            <td>
                <a href="user/delete?id={{$item->id}}" class="btn btn-info btn-lg">
                    <i class="fa fa-trash-o"></i> Delete
                </a>
            </td>
        </tr>
        {{/foreach}}
        </tbody>
    </table>
</div>

{{include file='..\Shared\layout_footer.html'}}
